{% extends "homebase.html" %}

{% block title %}{{ categoryData.title }}- News {% endblock %}
{% block keywords %}{{ categoryData.keywords }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/ico" href="{{ setting.icon.url }}"/>
{% endblock %}

{% block content %}

    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">

            <h2>Frequently Asked Questions </h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

                {% for fag in fags %}
                    <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapse0" aria-expanded="true"
                                   aria-controls="collapse0">
                                    {{ fag.question }}
                                </a>
                            </h3>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading0">
                            <div class="panel-body px-3 mb-4">
                                <p>{{ fag.answer }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
