{% extends "homebase.html" %}

{% block title %}Register Form{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/ico" href="{{ setting.icon.url }}"/>
{% endblock %}

{% block content %}

    <style>

        .login-container {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .login-form-1 {
            padding: 5%;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 130px;
            margin-top: 80px;
        }

        .login-form-1 h3 {
            text-align: center;
            color: #333;
        }

        .login-form-2 {
            padding: 5%;
            background: #0062cc;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }

        .login-form-2 h3 {
            text-align: center;
            color: #fff;
        }

        .login-container form {
            padding: 10%;
        }

        .btnSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            border: none;
            cursor: pointer;
        }

        .login-form-1 .btnSubmit {
            font-weight: 600;
            color: #fff;
            background-color: #0062cc;
        }

        .login-form-2 .btnSubmit {
            font-weight: 600;
            color: #0062cc;
            background-color: #fff;
        }

        .login-form-2 .ForgetPwd {
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }

        .login-form-1 .ForgetPwd {
            color: #0062cc;
            font-weight: 600;
            text-decoration: none;
        }


    </style>
    <div class="d-flex justify-content-center" style="margin-top: 80px">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} w-50 text-center" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container" style="margin-top: 100px">

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red"> {{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Register</button>
        </form>


        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 login-form-1">
                <h3>Login Form</h3>

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username *" value=""
                               autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="E-mail" value=""
                               autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="first_name" placeholder="First name *" value=""
                               autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="last_name" placeholder="Last name *" value=""
                               autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password1" class="form-control" placeholder="Password *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password2" class="form-control" placeholder="re-password *"
                               value=""/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="register"/>
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd">Forget Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


