

<div class="col-md-4">

    <form action="/search/" method="post">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header">
                <h5>Search</h5>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input id="query" type="text" name="query" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div class="card mb-4">
        <div class="card-header">
            <h5>Main Categories</h5>
        </div>

        <div class="list-group">

            <a href="http://127.0.0.1:8000/categoryposts/1"
               class="list-group-item list-group-item-action"><i class="fas fa-blog"></i>  Haberler
                <span
                        class="badge badge-primary badge-pill float-right">3</span>
            </a>


            <a href="http://127.0.0.1:8000/categoryposts/2"
               class="list-group-item list-group-item-action"><i class="fas fa-blog"></i> Etkinlikler
                <span
                        class="badge badge-primary badge-pill float-right">2</span>
            </a>


            <a href="http://127.0.0.1:8000/categoryposts/3"
               class="list-group-item list-group-item-action"><i class="fas fa-blog"></i> Duyurular
                <span
                        class="badge badge-primary badge-pill float-right">5</span>
            </a>




        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h5>Widget</h5>
        </div>
        <div class="card-body">
            <p>
                Türkiye'nin en büyük, en bol içerikli dernek sayfasına hoş geldiniz...
            </p>
        </div>
    </div>
</div>