{% extends "homebase.html" %}

{% block title %}{{ profile.user.username }} {% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/ico" href="{{ setting.icon.url }}"/>
{% endblock %}

{% block content %}
    <div style="margin: 100px">

        <div class="row">
            {% include "user_panel.html" %}
            <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} w-50 text-center" role="alert">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="text-center">
                    <img src="{{ user.userprofile.image.url }}" class="img-thumbnail rounded-circle m-auto"
                         width="160px"
                         height="160px">
                </div>
                <form method="POST" class="" enctype="multipart/form-data">{% csrf_token %}
                    <fieldset class="form-group">
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}

                                {% if field.help_text %}
                                    <small style="color:grey;">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color:grey;">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                    </fieldset>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>


                </form>


            </div>

        </div>

    </div>
{% endblock %}
