<div class="col-md-3">
    <div class="card-header">
        <h5 class="card-title h5 text-center"><i class="far fa-user mr-1"></i>USER PANEL</h5>
        <hr>
        <p class="text-center">Onur SOLMAZ</p>
    </div>
    <div class="list-group">
        <a href="/user/mynews" class="list-group-item text-primary"><i class="fas fa-blog"></i> MY NEWS</a>
        <a href="/user/mycomments" class="list-group-item text-primary"><i class="far fa-comments"></i> MY COMMENTS</a>
        {% if user.is_superuser %}
            <a href="/admin" class="list-group-item text-primary"><i class="fas fa-user-cog"></i> ADMİN PANEL</a>
        {% endif %}
    </div>
</div>